<div class="loading-state" *ngIf="!isTableView">
  <div class="row">
    <div *ngFor="let skeleton of skeletons" class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="skeleton-card h-100" role="presentation">
        <header class="skeleton-header">
          <div class="skeleton-title"></div>
          <div class="ratio ratio-4x3 skeleton-image"></div>
        </header>
        <div class="skeleton-content">
          <div class="skeleton-line"></div>
          <div class="skeleton-short-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading-state skeleton-table" *ngIf="isTableView">
  <div class="skeleton-row" *ngFor="let skeleton of skeletons">
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
  </div>
</div>

