<div class="article-search">
  <h2>Article Search Results</h2>

  <!-- Mostramos los artículos -->
  <div *ngFor="let article of articles">
    <h3><a [href]="article.web_url" target="_blank">{{ article.headline.main }}</a></h3>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    <span>{{ currentPage + 1 }} of {{ totalResults / pageSize }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= (totalResults / pageSize) - 1">Next
    </button>
  </div>
</div>
