<section class="articles-grid container mt-4 p-2">
  <div *ngIf="loading$ | async; else contentState">
    <app-skeleton-article-loader></app-skeleton-article-loader>
  </div>

  <ng-template #contentState>
    <div *ngIf="articles$ | async as articles; else noArticlesState">
      <div class="row">
        <div *ngFor="let article of articles" class="col-12 col-sm-6 col-md-4 mb-4">
          <app-article-card
            [headline]="article.headline.main"
            [multimedia]="article.multimedia"
            [webUrl]="article.web_url"
            [wordCount]="article.word_count">
          </app-article-card>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #noArticlesState>
    <div class="empty-state text-center py-5 d-flex justify-content-center align-items-center flex-column">
      <p class="empty-state-message mt-3">No articles available. Please try again later or refresh.</p>
    </div>
  </ng-template>
</section>
