<div class="card article-card h-100 p-10" role="article">
  <header class="article-card-header m-1">
    <h5 class="card-title article-card-title">
      {{ headline }}
    </h5>
    <div class="ratio ratio-4x3">
      <img
        class="card-img img-fluid article-card-image"
        [src]="multimedia | nyTimesImageUrl"
        alt="Article Image">
    </div>

  </header>
  <div class="card-body article-card-content">
    <div class="d-flex justify-content-between align-items-center">
      <a [href]="webUrl" target="_blank" class="btn btn-link read-more-link">Read more</a>
      <span class="text-muted words-count">{{ wordCount }} words</span>
    </div>
  </div>
</div>
